<ul>
  <li>
    Name: <%= student.try(:name) %>
  </li>
  <li>
    Birthday: <%= student.try(:birthday).strftime("%m/%d/%Y") if student%>
  </li>
  <li>
    Hometown: <%= student.try(:hometown).try(:capitalize) %>
  </li>
</ul>
